Consumo/Consumo/Connected Services/ServiceReference1/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Saludar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaludarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaludarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerEquipos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerEquiposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerEquiposResult" type="tns:ArrayOfEquipos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEquipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Equipos" nillable="true" type="tns:Equipos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Equipos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerProductos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerProductosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaludarSoapIn">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="SaludarSoapOut">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerEquipos" />
  </wsdl:message>
  <wsdl:message name="ObtenerEquiposSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerEquiposResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarLogSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarLog" />
  </wsdl:message>
  <wsdl:message name="GuardarLogSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarLogResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="ObtenerProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Saludar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saluda a la persona</wsdl:documentation>
      <wsdl:input message="tns:SaludarSoapIn" />
      <wsdl:output message="tns:SaludarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <wsdl:input message="tns:ObtenerEquiposSoapIn" />
      <wsdl:output message="tns:ObtenerEquiposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <wsdl:input message="tns:GuardarLogSoapIn" />
      <wsdl:output message="tns:GuardarLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductos">
      <wsdl:input message="tns:ObtenerProductosSoapIn" />
      <wsdl:output message="tns:ObtenerProductosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoap" type="tns:ServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saludar">
      <soap:operation soapAction="http://tempuri.org/Saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <soap:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <soap:operation soapAction="http://tempuri.org/GuardarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductos">
      <soap:operation soapAction="http://tempuri.org/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioSoap12" type="tns:ServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saludar">
      <soap12:operation soapAction="http://tempuri.org/Saludar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEquipos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerEquipos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLog">
      <soap12:operation soapAction="http://tempuri.org/GuardarLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioSoap" binding="tns:ServicioSoap">
      <soap:address location="http://localhost:8081/Servicio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioSoap12" binding="tns:ServicioSoap12">
      <soap12:address location="http://localhost:8081/Servicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>